/* Global settings */
.heading-site {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    /* background-color: rgba(0, 0, 0, 0);  */
    background-color: black;
    /* position: fixed; */
    /* top: 0; */
}
.header .header-logo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* float: left; */
    margin-left: 50px;
}
.header .header-menu {
    /* float: right; */
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}
.header .header-menu a {
    margin-right: 15px;
    color: white;
    text-shadow: 1px 1px 20px #000000;
}
.header .header-menu a:hover {
    color: #3498db; 
}
.is-black {
    background-color: black;
}

/* Banner */
.banner {
    margin-top: -24px;
    background: url('../img/finale.png') no-repeat;
    /* height: 640px; */
}
.banner .banner-image {
    /* position: relative; */
}
.banner .banner-content {
    /* position: absolute; */
    width: 100%;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 23%;
}
.banner .banner-content h1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 20px #000000;
    font-size: 2em;
}
.banner .banner-content h2 {
    color: #FFFFFF;
    text-shadow: 1px 1px 20px #000000;
    font-size: 0.9 em;
}
/* About */
.about .about-single-element .icon {
    font-size: 60px;
    text-align: center;
}
.about .about-single-element {
    text-align: center;
}
.about .about-single-element p {
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px; 
}

/* Portfolio */


/* Footer/Contact */
.footer .footer-informations {
    text-align: center;
    margin-top: 30px; 
}
.footer .footer-informations ul {
    padding: 0;
}
.footer .footer-informations ul li {
    display: inline-block;
    list-style-type: none;
}

/* Modal */
.own-modal {
    padding-top: 200px;
}

/* Responsive button */
/* @media screen and (max-width: 600px) {
    #open_modal {
        display: none;
    }
} */

@media screen and (max-width: 800px) {
    .menu-mobile {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .header-menu {
        margin-left: 55px;
    }
    .header-logo {
        margin-right: 55px;
    }
}