/* Global settings */
.heading-site {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

/* Banner */
.banner {
    background: url('../img/finale.png') no-repeat;
}
.banner .banner-content {
    width: 100%;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 23%;
}
.banner .banner-content h1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 20px #000000;
    font-size: 4em;
}
.banner .banner-content h2 {
    color: #FFFFFF;
    text-shadow: 1px 1px 20px #000000;
    font-size: 2em;
}
.banner .banner-content .banner-contact {
    margin-top: 20px;
}

/* About */
.about .about-single-element .icon {
    font-size: 60px;
    text-align: center;
}
.about .about-single-element {
    text-align: center;
}
.about .about-single-element p {
    text-align: left;
}

/* Portfolio */


/* Footer/Contact */

.copyright-text {
    margin-bottom: 30px;
}
.copyright-text p {
   font-size: 1em;
}

/* Responsive for phone */

@media screen and (max-width: 800px) {

    /* header */
    .menu-mobile {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .header-menu {
        margin-left: 55px;
    }
    .header-logo {
        margin-right: 55px;
    }
    .header-menu a, .header-logo {
        font-size: 0.5em;
    }

    /* banner */
    .banner .banner-content h1 {
        font-size: 1em;
    }
    .banner .banner-content h2 {
        font-size: 0.5em;
    }
    .banner .banner-content .banner-contact .contact-button {
        font-size: 0.5em;
    }

    /* footer */
    .copyright-text p {
        font-size: 0.7em;
    }
}